.a{

		   position: relative;
		   margin-left: auto;
  		   margin-right: auto;
  		   object-position: -10% 0;
  		   object-fit:cover;
		   height:100px;
		   width:100px;
		   border-radius:100%;

		}
		.a:hover {
		  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
		}
		body{
		 background-color:powderblue;
		 padding:10px;
		}